
<!-- The navigation bar -->
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="nav navbar-nav">
      <h2>Post Office</h2>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item" style="padding-left:0.2in">
      <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="nav-link" routerLink="/addparcel" routerLinkActive="active">Add Parcel</a>

    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="nav-link" routerLink="/addsender" routerLinkActive="active">Add Sender</a>

    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="nav-link" routerLink="/listparcel" routerLinkActive="active">List Parcel</a>

    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="nav-link" routerLink="/listsender" routerLinkActive="active">List Sender</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="nav-link" routerLink="/deletesender" routerLinkActive="active">Delete Sender</a>
    </li>

  <li class="nav-item" style="padding-left:0.2in">
    <a class="nav-link" routerLink="/currentime" routerLinkActive="active">Current Time</a>
  </li>
  </ul>
</nav>
<router-outlet></router-outlet>